.DS_Store
__MACOSX
robots.txt.dist
*.zip
/dist.zip
/bin
/cache
/cli
/tmp
/templates
/libraries
/layouts
/includes
/images
/node_modules
/build
/logs

LICENSE.txt
README.txt
configuration.php
htaccess.txt
index.php
robots.txt
web.config.txt

/plugins

!/modules
/modules/*
!/modules/mod_sppagebuilder

!/media
/media/*

!/language
/language/*

!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.com_spsimpleportfolio.ini

!/components
/components/*
!/components/com_spsimpleportfolio
/components/com_spsimpleportfolio/assets/reactjs/node_modules

!/administrator
/administrator/*

!/administrator/components
/administrator/components/*
!/administrator/components/com_spsimpleportfolio

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_spsimpleportfolio.ini
!/administrator/language/en-GB/en-GB.com_spsimpleportfolio.sys.ini